* text=auto
.gitattributes text eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.blade.php text eol=lf
*.md text eol=lf
*.php text eol=lf
*.sh text eol=lf
docker/mikrotik-lite/.env.mikrotik-lite text eol=lf
docker/mikrotik-lite/*.conf text eol=lf
docker/mikrotik-lite/Dockerfile.mikrotik-lite text eol=lf
docker/mikrotik-lite/entrypoint.sh text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
